<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CAT APP</title>
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
        <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/assets/js/cats.js"></script>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>